.detailPage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 2.42em;
  overflow: hidden;
}

.detailContainer {
  z-index: 3;
  background: #956fce;
  border: 0.7em ridge #b592e9;
  padding: 1em;
  min-width: fit-content;
  max-width: fit-content;
  width: 50vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5rem;

  overflow: hidden;
}

.characterImage {
  border-radius: 15rem;
  border: 0.7em ridge #b592e9;
  height: 100%;
  margin: 1em;

  overflow: hidden;
}

/* Media query for screens below 550px */
@media screen and (max-width: 550px) {
  .detailContainer {
    flex-direction: column;
    align-items: center;
  }
}
