.detailPage {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1em;
    margin-top: 1.5rem;
}
.detailContainer {
    grid-column: 2;
    grid-row: 1;
    background: #6d78da;
    border: 0.7em ridge #6d78da;
    padding: 1em;
    width: 35em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 5rem;
}
@media (max-width: 768px) {
    .detailContainer {
        flex-flow: column-reverse;
        min-width: fit-content;
        max-width: fit-content;
    }
}
.dataContainer {
    color: black;
    text-align: left;
    font-weight: bold;
    margin-bottom: 2em;
    padding: 0;
}
.characterImage {
    aspect-ratio: 1;
    width: 15rem;
    cursor: crosshair;
    border-radius: 15rem;
    border: 0.7em ridge #6d78da;
}
