.cardsBox {
  border: none;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.cardsFlex {
  display: flex;
  flex-flow: row wrap;
  background-color: #95d838be;
  max-width: 80%;
  border-radius: 2rem;
}

.filters {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.filters select {
  border: none;
  font-size: large;
  cursor: pointer;
  padding: 1em;
  border-radius: 1em;
  background-color: #dce775a2;
  margin-right: 2px;
  cursor: pointer;
  outline: none;
}

.filters select:hover {
  box-shadow: 0 0 5px rgba(43, 255, 0, 0.8);
  text-shadow: 2px 2px 2px rgb(43, 255, 0);
}
