.Nav {
  z-index: 9999;
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  background-color: #000000b9;
  padding: 0.5rem;
}
button {
  border: 0;
  font-size: large;
  font-size: 01.01em;
  cursor: pointer;
  width: 3.2em;
  padding: 1em;
  border-radius: 1em 1em 1em 1em;
  background-color: #192278;
  margin-right: 2px;
  cursor: pointer;
}
button:hover {
  box-shadow: 0em 0em 1em 1em #a074e2;
}
.logoutSymbol {
  aspect-ratio: 1;
  width: 1.1em;
}
.titleImage {
  max-width: 10rem;
  margin: 0;
  padding: 0;
}
