first-color {
  background: #388e3c;
}
second-color {
  background: #8bc34a;
}

third-color {
  background: #dce775;
}

fourth-color {
  background: #fff59d;
}
.searchButton {
  border: 0;
  font-size: large;
  cursor: text;
  width: 5em;
  padding: 1em;

  border-radius: 0em 1.5em 1.5em 0em;
  background-color: #dce775ad;
}
.searchInput {
  border: 0;
  font-size: large;
  cursor: text;
  width: 15em;
  padding: 1em;
  border-radius: 1.5em 0em 0em 1.5em;
  background-color: #8bc34aa6;
}
.searchButton:hover {
  cursor: pointer;
  box-shadow: 0em 0em 2em 2em rgba(43, 255, 0, 0.8);
  text-shadow: 2em 2em 2em rgb(43, 255, 0);
}
.searchInput::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: rgb(0, 0, 0);
}
