.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 10em;
  min-height: 16em;
  height: fit-content;
  margin: 1em;
  padding: 0.4em;
  margin: 1.2em;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  color: #f5f5f5;
  background: #0a0d53;
  border: 0.7em ridge #0a0d53;
  text-align: center;
}
.card:hover {
  animation: wiggle 0.5s ease-in-out infinite;
  scale: 1.2;
  background-color: #2c9449;

  border: 0.7em groove #2d8d48;

  -webkit-box-shadow: 0px 0px 50px 30px #59cf7a;
  -moz-box-shadow: 0px 0px 50px 30px #59cf7a;
  box-shadow: 0px 0px 50px 30px #59cf7a;
}
@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(1deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-1deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes rainbow {
  0% {
    background-color: #ff0000;
  }
  25% {
    background-color: #ffff00;
  }
  50% {
    background-color: #00ff00;
  }
  75% {
    background-color: #0000ff;
  }
  100% {
    background-color: #ff00ff;
  }
}

.charIcon {
  width: 90%;
  aspect-ratio: 1;
  border-radius: 1em;
  scale: 1;
  border-radius: 50%;
}
.charIcon:hover {
  cursor: pointer;
  scale: 1.1;
  animation: wiggle 0.1s linear infinite;
  border: groove 0.2em #3fb962;
}
.buttons {
  z-index: 50;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-right: 1.5em;
  cursor: pointer;
  margin-left: 1.5em;
}

.favoriteButton:hover {
  scale: 3;
  border-radius: 50%;
}
.closeButton:hover {
  scale: 2;
  border-radius: 20em;
  background-color: red;
  border: groove 0.01em black;
  box-shadow: 0px 0px 20px 2px #ff0000;
}
.favoriteButton {
  height: 1.4em;
  aspect-ratio: 1;
  border-radius: 50%;
}
.closeButton {
  height: 1.4em;
  aspect-ratio: 1;
  border-radius: 50%;
  text-align: center;
  text-justify: center;
}
