.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 9.2rem;
  margin: 1em;
  padding: 0.4em;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  background: #956fce;
  border: 0.7em ridge #b592e9;
  text-align: center;
}
.card:hover {
  animation: wiggle 0.5s ease-in-out infinite;
  background-color: rainbow;
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(1deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-1deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes rainbow {
  0% {
    background-color: #ff0000;
  }
  25% {
    background-color: #ffff00;
  }
  50% {
    background-color: #00ff00;
  }
  75% {
    background-color: #0000ff;
  }
  100% {
    background-color: #ff00ff;
  }
}

.charIcon {
  width: 90%;
  aspect-ratio: 1;
  border-radius: 1em;
}
.buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-right: 1.5em;
  cursor: pointer;
  margin-left: 1.5em;
}
