.Form {
  font-size: x-large;
  scale: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-weight: bold;
  overflow: hidden;
  border: none;
}

.portalImage {
  position: absolute;
  z-index: 2;
  animation: spin 4s linear infinite;
  transform-origin: center center;
  max-height: 50vw;
  min-height: 50vw;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  10% {
    transform: rotate(36deg) scale(0.98);
  }
  20% {
    transform: rotate(72deg) scale(1);
  }
  30% {
    transform: rotate(108deg) scale(0.98);
  }
  40% {
    transform: rotate(144deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.98);
  }
  60% {
    transform: rotate(216deg) scale(1);
  }
  70% {
    transform: rotate(252deg) scale(0.98);
  }
  80% {
    transform: rotate(288deg) scale(1);
  }
  90% {
    transform: rotate(324deg) scale(0.98);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
.imageContainer {
  margin: auto;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
}
/* media query */
.formContainer {
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center;
  border: none;
  height: 100%;
}

.loginDiv {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  align-items: center;
}

.formInput {
  border: none;
  min-width: 20vw;
  aspect-ratio: 7;
  border-radius: 0.6em;
  font-size: x-large;
}
.inputContainer {
  background-color: #00b5cc;
  display: flex;
  flex-direction: column;
  width: 25vw;
  min-width: fit-content;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
  border-radius: 15%;
  padding: 0%;
  margin: -10rem;
}
.loginButton {
  border: none;
  min-width: 20vw;
  height: fit-content;
  border-radius: 10em;
  font-size: large;
  background-color: #c9cc00;
  color: white;
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 0;
}
