.cardsBox {
  background-color: red;
  margin-top: 2.42em;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
  grid-gap: 0rem;
  max-width: 80vw;
  align-items: center;
  padding: 1em;
  margin: 0;
  padding: 0;
  background-color: #404ca88f;
  margin: 0 auto;
  border-radius: 2rem;
}
