.Nav {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: #4caf51;
  height: fit-content;
  border-radius: 5em;
  border: none;
  white-space: nowrap;
}
